OPTIMIZELY_DEBUG=0

# Optimizely Graph
OPTIMIZELY_GRAPH_GATEWAY=
OPTIMIZELY_GRAPH_APP_KEY=
OPTIMIZELY_GRAPH_SECRET=
OPTIMIZELY_GRAPH_SINGLE_KEY=
OPTIMIZELY_GRAPH_UPDATE_DELAY=2000
OPTIMIZELY_GRAPH_QUERY_LOG=0

# Optimizely CMS
OPTIMIZELY_CMS_URL=
OPTIMIZELY_CMS_CLIENT_ID=
OPTIMIZELY_CMS_CLIENT_SECRET=
OPTIMIZELY_CMS_USER_ID=
OPTIMIZELY_PAGES_CONTAINER_ID=

# Frontend specfic
SITE_DOMAIN=
OPTIMIZELY_PUBLISH_TOKEN=

NODE_TLS_REJECT_UNAUTHORIZED=0

# OpenAI key
OPENAI_API_KEY=

# Admin login credentials
NEXT_PUBLIC_ADMIN_USERNAME=
NEXT_PUBLIC_ADMIN_PASSWORD=

# AWS credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
